<style>

h1
{
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 50px;
}

th,td
{
  padding:10px;
}

</style>

<div align = "center"><h1>Listing profiles</h1></div><br><br>

<div align = "center">
<div id = "task_table1"> 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.age %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></div></div>

<br>

<div align = "center">
<%= link_to 'New Profile', new_profile_path %>
</div>