<p id="notice"><%= notice %></p>

<p>
  <div align = "center">
  <strong>Name:</strong>
  <%= @profile.name %>
</p></div>

<p>
  <div align = "center">	
  <strong>Age:</strong>
  <%= @profile.age %>
</p></div>

<div align = "center"><%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %></div>
